{
    # Auto HTTPS
    auto_https
    # Optional: email for Let's Encrypt
    email elshenawy19@gmail.com
}

toota-art.ahmedlotfy.site {
    root * /app/public
    encode zstd gzip br
    php_fastcgi unix//tmp/php-fpm.sock
    file_server
}