services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      DATABASE_URL: ${DATABASE_URL}
      NEXT_PUBLIC_APP_URL: ${NEXT_PUBLIC_APP_URL}
      APP_ENV: ${APP_ENV}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      NEXT_PUBLIC_ADMIN_EMAIL: ${NEXT_PUBLIC_ADMIN_EMAIL}
      BETTER_AUTH_URL: ${BETTER_AUTH_URL}
      BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      R2_ACCOUNT_ID: ${R2_ACCOUNT_ID}
      R2_ACCESS_KEY_ID: ${R2_ACCESS_KEY_ID}
      R2_SECRET_ACCESS_KEY: ${R2_SECRET_ACCESS_KEY}
      R2_BUCKET_NAME: ${R2_BUCKET_NAME}
      NEXT_PUBLIC_R2_PUBLIC_DOMAIN: ${NEXT_PUBLIC_R2_PUBLIC_DOMAIN}
      RESEND_API_KEY: ${RESEND_API_KEY}
      CONTACT_EMAIL: ${CONTACT_EMAIL}
      CONTACT_FROM_EMAIL: ${CONTACT_FROM_EMAIL}
      BACKUP_CRON_SECRET: ${BACKUP_CRON_SECRET}
    restart: unless-stopped
