{
	# The FrankenPHP server is listening on port 2019
	frankenphp {
		order php_server before file_server
	}

	# Your domain name
	# The :80 is essential for local development
	localhost, :80 {
		# Set the root of the site to the public directory
		root * /app/public
		# Enable compression
		encode zstd br gzip
		# Serve static files
		file_server
		# Run the PHP app
		php_server
	}
}
